body {  
    font-family: Arial, sans-serif;  
    margin: 0;  
    background-image: url("../images/bc2.jpg");
    background-size: 120%;
} 


.gender-input {  
    margin-bottom: 10px;  
}  

.resume_container {  
    width: 100%; /* 容器宽度为100%，可以根据需要调整 */  
    max-width: 1000px; /* 最大宽度为1200px，避免在大屏幕上过宽 */  
    min-width: 900px;
    margin: 0 auto; /* 水平居中 */  
    padding: 100px; /* 内边距为20px，可以根据需要调整 */  
    box-sizing: border-box; /* 确保宽度和内边距的计算方式是包含内边距的 */  
    background-color: #fff; /* 背景颜色为白色，可以根据需要调整 */   
    border-radius: 5px; /* 边框圆角为5像素，可以根据需要调整 */
    border: solid rgb(83, 117, 239) 4px;  
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 盒子阴影，增加立体感 */  
    position: relative;
}

.row {
    display: flex;
    justify-content: space-between; /* 标签和文本框之间间隔 */  
    margin-bottom: 10px; /* 行与行之间的间隔 */  
    width: 90%;
    position: relative;
}


.label {  
    align-items: center; 
    flex: 0 0 100px; /* 假设标签宽度为100px，不伸缩 */  
    /* 其他标签样式，如字体大小、颜色等 */  
}  

.input-wrapper{  
    width: 250px; /* 文本框宽度填充其父元素 */  
    box-sizing: border-box; /* 包含padding和border在width内 */
    padding-right: 30px;  
    /* padding: 10px */
    /* 其他文本框样式，如边框、内边距等 */  
}

.input-text{
    width: 80%;
    height: 100px;
}

.input-text textarea {  
    width: 100%; /* 或者其他你想要的宽度 */ 
    height: 100%;
    box-sizing: border-box; /* 确保padding和border不会增加元素的总宽度 */  
    resize: none;
    padding: 5px;  
    border: px solid #ccc;  
    border-radius: 4px; 
}

h1 {  
    text-align: center;  
    margin-bottom: 20px;  
} 

form {  
    width: 100%; 
}  

form input[type="email"],  
form input[type="text"],  
form input[type="number"] {  
    width: 100%;  
    padding: 5px;  
    border: px solid #ccc;  
    border-radius: 4px;  
}  


form input[type="submit"] {  
    padding: 10px 20px;  
    background-color: rgb(35, 150, 196);  
    color: white;  
    border: none;  
    border-radius: 4px;  
    cursor: pointer;  
}  

#submit_button
{
    position: relative;
    left: 40%;
    top: 19%;
}

#living_address
{
    position: relative;
    left: -360px;
    width: 220px;
}

select
{
    width: 100px;
    height: 30px;
}

option
{
    width: 100px;
    height: 30px;
}

.triangle1
{
    border-right: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-top: 40px solid rgb(83, 117, 239);
    width: 0;
    height: 0;
    position: absolute;
    top: 0px;
    left: 0px;
}

.triangle2
{
    border-left: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-top: 40px solid rgb(83, 117, 239);
    width: 0;
    height: 0;
    position: absolute;
    top: 0px;
    right: 0px;
}

.triangle3
{
    border-bottom: 40px solid rgb(83, 117, 239);
    border-right: 40px solid transparent;
    border-top: 40px solid transparent;
    width: 0;
    height: 0;
    position: absolute;
    bottom: 0px;
    left: 0px;
}


.triangle4
{
    border-left: 40px solid transparent;
    border-bottom: 40px solid rgb(83, 117, 239);
    border-top: 40px solid transparent;
    width: 0;
    height: 0;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

a:visited
{
    border-bottom: solid rgb(35, 150, 196) 2px;
}

#education
{
    position: relative;
    left: -390px;
}



