body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}
.welcome {
    margin-top: 20px;
    font-size: 24px;
}
.prompt{
    margin-top: 20px;
    font-size: 20px;
}
.fuc td a {
    color: white;
    background-color: #007bff;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 24px;
}
hr {
    width: 100%;
    text-align: center;
    margin-top: 0;
    height: 3px;
    background-color: rgb(255, 255, 255);
    border: none;
}
.main {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.main td, .main th {
    border: 1px solid #ddd;
    padding: 8px;
}
.main tr:nth-child(even) {
    background-color: #f2f2f2;
}
.main tr:hover {
    background-color: #ddd;
}
.main th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #3d2ae7;
    color: white;
}
.form-container {
    text-align: center;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
}
.form-container input {
    width: 80%;
    width: calc(16% - 12px);
    padding: 8px;
    margin: 5px 6px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.form-container button {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}
.form-container button:hover {
    background-color: #45a049;
}
.delete-btn {
    padding: 5px 10px;
    background-color: #ff4c4c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.delete-btn:hover {
    background-color: #ff1a1a;
}
.center {
    text-align: center;
}
