{% extends 'base.html' %}

{% block title %}
新增房间信息
{% endblock %}
{% block style %}
<style>
    body{
        margin: 0;
        padding: 0;
        border: 0;
    }

    #background{
        margin: 0;
        padding: 0;
        border: 0;
       vertical-align: baseline;
        height:500px;
        background-attachment: fixed;
        background-size: cover;
        background-image:url("../static/1.jpg");
    }

    #dl{
        width:240px;
        height:250px;
        background-color:rgba(0, 0, 0,.7);
        position: absolute;
        top:0;
        bottom:0;
        left:0;
        right: 0;
        margin:auto;
        border-radius: 10%;
        box-shadow:10px 10px 1px rgba(97, 91, 100, 0.5);
    }

    .text{
        color:white;
        display: flex;
        justify-content: center;
        font-style: inherit;
    }

    .input{
        height:10%;
        width:60%;
    }

    .but{
        display: flex;
        justify-content: center;
    }
</style>
{% endblock %}
{% block body %}
<form method="post">
    <div id="background" >
        <div id="dl">
            <div class="text">新增房间信息</div>
            <br>
            <div class="text">房间id:<input class="input"  type="text" name="room_id"></input></div>
            <br>
            <div class="text">   房间状态:<input class="input"  type="text" name="room_status"></input></div>
            <br>
            <div class="text">   房间类型:<input class="input"  type="text" name="roomType_id"></input></div>
            <br>
            <div class="but"><a href="success.html"><button type="submit" >提交</button></a></div>
        </div>
    </div>
</form>
{% endblock %}
