{% extends 'base.html' %}

{% block title %}
Success
{% endblock %}
{% block style %}
<style>
    body {
      display: grid;
      font-family: Avenir, sans-serif;
      -ms-text-size-adjust: 100%;
      -webkit-text-size-adjust: 100%;
      -moz-osx-font-smoothing: grayscale;
      -moz-font-smoothing: antialiased;
      -webkit-font-smoothing: antialiased;
      font-smoothing: antialiased;
      background-image:url("../static/4.jpg");
    }

    .tariffCards {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -180px 0 0 -140px;
      user-select: none;
      transform: translate3d(0, 0, 0);
      transform-style: preserve-3d;


    }
    .tariffCards:after {
      position: absolute;
      bottom: -27px;
      left: 5%;
      content: "";
      width: 65%;
      height: 10px;
      border-radius: 100%;
      background-image: radial-gradient(rgba(220, 255, 226, 0.0), rgba(254, 255, 226, 0.0));
    }
    .tariffCards > div {
      position: relative;
      width: 280px;
      height: 140px;
      border-radius: 12px;
      color: white;
      transform: rotateX(45deg) rotateY(-15deg) rotate(45deg);
      transition: all 0.4s ease;
      overflow: hidden;
      cursor: pointer;
    }
    .tariffCards > div:after {
      position: absolute;
      top: -70px;
      left: 0;
      content: "";
      width: 200%;
      height: 200%;
      background-image: linear-gradient(60deg, rgba(255, 255, 255, 0) 20%, rgba(255, 246, 244, 0.1), rgba(238, 234, 255, 0.0) 80%);
      transform: translateX(-100%);
    }
    .tariffCards > div img {
      margin-top: 15px;
      pointer-events: none;
    }
    .tariffCards > div h3 {
      position: absolute;
      bottom: 28px;
      left: 15px;
      font-size: 18px;
      font-weight: 800;
    }
    .tariffCards > div span {
      position: absolute;
      font-weight: 700;
      bottom: 15px;
      left: 15px;
      font-size: 12px;
      font-weight: 600;
      opacity: 0.8;
    }
    .tariffCards > div.economy {
      margin-top: 0;
      z-index: 3;
      background-color: #c5b5e1;
      background-image: linear-gradient(135deg, #d3c1e8, #d4bee1);
      box-shadow: 20px 20px 60px rgba(34, 50, 84, 0.5), 1px 1px 0px 1px #cbcce1;
    }
    .tariffCards > div.premiumeconomy {
      margin-top: -70px;
      z-index: 2;
      background-color: #9ccae3;
      background-image: linear-gradient(135deg, #c7fcf8, #acd9e3);
      box-shadow: 20px 20px 60px rgba(34, 50, 84, 0.5), 1px 1px 0px 1px #e3a9dc;
    }
    .tariffCards > div.business {
      margin-top: -70px;
      z-index: 1;
      background-color: #a9d1c7;
      background-image: linear-gradient(135deg, #21BBFE, #2C6FD1);
      box-shadow: 20px 20px 60px rgba(34, 50, 84, 0.5), 1px 1px 0px 1px #98ffb2;
    }
    .tariffCards > div.first {
      margin-top: -70px;
      background-color: #dbaed4;
      background-image: linear-gradient(135deg, #ffb2db, #dac1d8);
      box-shadow: 5px 5px 60px rgba(34, 50, 84, 0.1), 1px 1px 0px 1px #d6a7d7;
    }
    .tariffCards > div:hover {
      transform: rotateX(30deg) rotateY(-15deg) rotate(30deg) translate(-25px, 50px);
    }
    .tariffCards > div:hover:after {
      transform: translateX(100%);
      transition: all 1.2s ease-in-out;
    }
    #rest{

       font-size:30px;
        color: #a9d1c7;

    }

    h4{
        margin:0px;
        margin-left: 75px;
    }
    </style>
{% endblock %}
{% block body %}
<form>
    <div id="rest">
    查询房间信息显示
    </div>
    <div class="tariffCards">
    <div class="economy">
    <img src="../static/2.png" alt="" height="74">
         <h3>房间id</h3> <h4>{{room_id}}</h4>

        </div>
         <div class="business">
            <img src="../static/2.png" alt="" height="74">
             <h3>状态</h3>
             <br>
             <h4>{{room_status}}</h4>

             <span>room_status</span>
        </div>
        <div class="first">
             <img src="../static/2.png" alt="" height="74">
            <h3>房间类型</h3>

            <h4>{{roomType_id}}</h4>

            <span>roomType_id</span>
        </div>
    </div>
</form>
{% endblock %}
