{% extends 'base.html' %}

{% block title %}
    更改密码
{% endblock %}
{% block style %}
<link rel='stylesheet' href='{{url_for('static',filename='/css/forget.css')}}'> 
<script src='{{url_for('static',filename='/js/jquery.min.js')}}'></script> 
{% endblock %}
{% block body %}
<body class="container2">

    <input type="checkbox" id="a12" hidden>
    <i class="indicator"></i>
    <label class="c2" for="a12"></label>
    <div id="container" class="dark">
        <div class="bg"></div>
        <div class="moon-box">
            <div class="moon"></div>
        </div>
        <div class="sun-box">
            <div class="sun"></div>
        </div>
        <div class="sea"></div>
    </div>
    
    <div class="login_container">  
        <div class="tit">forget</div>  
        <form id="loginForm" action='/forgot_password' method='POST'> 
            <div class="form-group">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" placeholder='邮箱' required>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <input type="text" id="code" class="form-control" name="captcha" required placeholder="验证码">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="captcha-btn">获取验证码</button>
                    </div>
                </div>
            </div> 
            <div class="form-group">
                <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder='密码长度:6-20位' required>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password_confirm" placeholder='确认密码' required>
            </div>
            <div class="form-group">  
                <input type="submit" id="change_button" value="更改">  
            </div>  
        </form>  
        <form id="loginForm" action="/login">
            <div id="errorMessage" class="error-message"></div>  
        </form>
    </div>
    <script src='{{url_for('static',filename='/js/register.js')}}'> </script>
    <script>
        errorMessage.textContent = '{{error}}';
    </script>
</body>
{% endblock %}