{% extends 'base.html' %}

{% block title %}
个人主页
{% endblock %}
{% block style %}
<link rel="stylesheet" href="{{url_for('static',filename='/css/index.css')}}">
<script src='{{url_for('static',filename='/js/echats.min.js')}}'></script>
{% endblock %}
{% block body %}
<div id="pic" style="background-color: paleturquoise; ">
    <image src="./static/images/company.png" width="400px" height="100px" ></image>
    <form action='/' method='GET'>
        <input class="search_text" type="search" placeholder="请输入需要搜索的职位" aria-label="Search" name="keyword" value={{keyword}}>
        <input class ="search_button" type="submit" value="搜索">
    </form>
</div>
<div class="container">
</div>
{% endblock %}
