{% extends 'base.html' %}
{% block title %}
    登录界面
{% endblock %}
{% block style %}
    <link rel='stylesheet' href='{{url_for('static',filename='/css/login.css')}}'>
    <script src='{{url_for('static',filename='/js/jquery.min.js')}}'></script>
    <script src='{{url_for('static',filename='/js/jquery.min.css')}}'> </script>
{% endblock %}
{% block body %}
<body class="container2">

<input type="checkbox" id="a12" hidden>
<i class="indicator"></i>
<label class="c2" for="a12"></label>
<div id="container" class="dark">
    <div class="bg"></div>
    <div class="moon-box">
        <div class="moon"></div>
    </div>
    <div class="sun-box">
        <div class="sun"></div>
    </div>
    <div class="sea"></div>
</div>

<div class="login_container">
    <div class="tit">login</div>
    <form id="loginForm" >
        <select id="type" name="type">
            <option value="user">用户</option>
            <option value="admin">管理员</option>
        </select>
        <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" placeholder='邮箱' required>
	</div>
    <div class="form-group">
        <input type="password" id="password" name='password' placeholder="密码" required>
    </div>
            <div class="form-group" id="login">
                <input type="hidden" name='page'>
                <input id="login_button" type="submit" value="登录">
            </div>
    </form>
        <p><a href="/forgot_password">忘记密码?</a></p>
        <div id="errorMessage" class="error-message"></div>

</div>
</body>
<script>
    $(document).ready(function() {
        $('#loginForm').on('submit', function(e) {
            e.preventDefault();  // 阻止表单默认的提交行为 \
            var email = $("input[name='email']").val();
            var password = $("input[name='password']").val();
            var type = $("select[name='type']").val();

            $.ajax({
                url: '/login_action',
                method: 'POST',
                data: {type: type, email: email, password: password},
                success: function(response) {
                    if (response.status == 'success') {
                        window.location.href = '/';
                    } else {
                        $('#password').val('');  // 清空输入框
                        alert(response.message);
                    }
                },
                error: function(error) {
                    alert('error');
                    console.error(error);
                }
            });
        });
    });
</script>

{% endblock %}
