{% extends 'base.html' %}
{% block title %}
用户页面
{% endblock %}
{% block style %}
<link rel='stylesheet' href='{{url_for('static',filename='/css/user.css')}}'>
{% endblock %}

{% block body %}
    <div class="welcome">
        用户 {{user.user_name}}，欢迎！今日房价如下！
    </div>

    <table class="main" contenteditable="true">
        <tr class="center" contenteditable="false" >
            <th>房间类型id</th>
            <th>房间类型</th>
            <th>房间单价</th>
            <th>空闲房间数</th>
        </tr>

        {% for result in results %}
            <tr id = '{{result.房间类型ID}}' class="center">
                <td>{{result.房间类型ID}}</td>
                <td>{{result.房间名}}</td>
                <td>{{result.房间单价}}</td>
                <td>{{result.空闲房间数}}</td>
            </tr>
        {% endfor %}
    </table>

    <hr>

    <div class="prompt">
        功能一：办理预订
    </div>
    <p>     </p>
    <p> 功能介绍：输入预订信息，包括预计入住时间、预计入住天数、房间类型。 </p>
    <p> 功能要求：房间类型必须存在，预计入住时间不得小于当前时间。 </p>

    <div class="form-container">
        <form id="dataForm">
            <input type="text" id="book_inTime" placeholder="预计入住时间">
            <input type="text" id="book_liveDays" placeholder="预计入住天数">
            <input type="text" id="roomType_id" placeholder="房间类型编号">
            <button type="button" onclick="addBook()">办理</button>
        </form>
    </div>

    <hr>

    <div class="prompt">
        功能二：办理入住
    </div>
    <p>     </p>
    <p> 功能介绍：根据预订信息列表，选择一条预订信息办理入住。 </p>

    <div class="form-container">
        <table class="main" contenteditable="true" id="bookTable">
            <tr class="center" contenteditable="false" >
                <th>预订编号</th>
                <th>预计入住时间</th>
                <th>预计入住天数</th>
                <th>预订房间号</th>
                <th></th>
            </tr>
        </table>
        <!-- 隐藏bookTable -->
        <script>
            document.getElementById('bookTable').style.display = 'none';
        </script>
        <button type="button" onclick="queryBook()">查询预订信息</button>
    </div>

    <!-- <div class="form-container">
        <form id="dataForm">
            <input type="text" id="id" placeholder="编号">
            <input type="text" id="name" placeholder="名称">
            <input type="text" id="attribute1" placeholder="属性一">
            <input type="text" id="attribute2" placeholder="属性二">
            <input type="text" id="attribute3" placeholder="属性三">
            <input type="text" id="attribute4" placeholder="属性四">
            <button type="button" onclick="addRow()">添加</button>
        </form>
    </div> -->

    <script>
        function addBook() {
            // 获取HTML表单中的输入值
            var book_inTime = document.getElementById('book_inTime').value;
            var book_liveDays = document.getElementById('book_liveDays').value;
            var roomType_id = document.getElementById('roomType_id').value;

            // 使用fetch API向/add_action发送POST请求。请求头部声明了Content-Type为application/json，并将收集到的数据转换为JSON字符串放在请求体中。
            fetch('/add_action', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({book_inTime: book_inTime, book_liveDays: book_liveDays, roomType_id: roomType_id})
            })
            .then(response => response.json())
            .then(data => {
                if (data.status == 'success') {
                    var msg = '';

                    if(data.results == 0){
                        var id = data.roomType_id;
                        msg = '预订成功！';
                        msg += '\n预订房间号：' + data.availableRoomId;
                         // 更新页面上的空闲房间数
                        var row = document.getElementById(id);
                        var cells = row.getElementsByTagName('td');
                        var availableRooms = parseInt(cells[3].innerText);
                        cells[3].innerText = availableRooms - 1;
                    }
                    else{
                        msg = '预订失败！';
                        if(data.results & 1){
                            msg += '\n错误1：目前没有对应类型的空闲房间！';
                        }
                        if(data.results & 2){
                            msg += '\n错误2：预计入住时间不得小于当前时间！';
                        }
                    }
                    alert(msg);
                }
                else {
                    var msg = '出现错误！';
                    msg += '\n错误信息：' + data.errorMessage;
                    alert(msg);
                }
            })
            .catch(error => {
                alert('错误信息：' + error);
            });
        }
    </script>

    <script>
        function queryBook() {
            fetch('/queryBook', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({})
            })
            .then(response => response.json())
            .then(data => {
                if(data.status == 'success'){
                    alert('查询成功！');
                    var table = document.getElementById('bookTable');
                    // 清空表格
                    table.innerHTML = table.rows[0].innerHTML;
                    // 逐一加入data.results中的每一条记录
                    for (var i = 0; i < data.results.length; i++) {
                        var result = data.results[i];
                        var row = document.createElement('tr');

                        var cell = document.createElement('td');
                        cell.textContent = result.book_id;
                        row.appendChild(cell);

                        cell = document.createElement('td');
                        cell.textContent = result.book_inTime;
                        row.appendChild(cell);

                        cell = document.createElement('td');
                        cell.textContent = result.book_liveDays;
                        row.appendChild(cell);

                        cell = document.createElement('td');
                        cell.textContent = result.room_id;
                        row.appendChild(cell);

                        cell = document.createElement('td');
                        var button = document.createElement('button');
                        button.textContent = '办理入住';
                        button.onclick = function(){
                            addLive(result.book_id);
                        }
                        cell.appendChild(button);
                        row.appendChild(cell);

                        // 将按钮的点击事件绑定到addLive上，传入预订编号
                        // 创建一个新的作用域，以便在创建按钮时捕获 result.book_id 的当前值
                        button.onclick = (function(book_id, row) {
                            return function() {
                                addLive(book_id, row);
                            };
                        })(result.book_id, row);

                        // 将新的表格行添加到表格中
                        table.appendChild(row);
                    }
                    // 显示bookTable
                    document.getElementById('bookTable').style.display = 'table';
                }
            })
            .catch(error => {
                alert('错误信息：' + error);
            });
        }
    </script>

    <script>
        function addLive(book_id, rowElement) {
            fetch('/addLive', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({book_id: book_id})
            })
            .then(response => response.json())
            .then(data => {
                if(data.status == 'success'){
                    var msg = '办理成功';
                    msg += '\n订单编号：' + data.results;
                    alert(msg);
                    rowElement.remove();
                }
                else{
                    alert('办理失败！'+data.errorMessage);
                }
            })
            .catch(error => {
                alert('错误信息：' + error);
            });
        }
    </script>
{% endblock %}
