{% extends 'base.html' %}
{% block title %}
用户页面
{% endblock %}
{% block style %}
<link rel='stylesheet' href='{{url_for('static',filename='/css/user.css')}}'>
{% endblock %}

{% block body %}
    <div class="welcome">
        用户 {{user.user_name}}，欢迎！今日房价如下！
    </div>

    <table class="main" contenteditable="true">
        <tr class="center" contenteditable="false" >
            <th>房间类型id</th>
            <th>房间类型</th>
            <th>房间单价</th>
            <th>空闲房间数</th>
        </tr>
        
        {% for result in results %}
            <tr class="center">
                <td>{{result.房间类型ID}}</td>
                <td>{{result.房间名}}</td>
                <td>{{result.房间单价}}</td>
                <td>{{result.空闲房间数}}</td>
            </tr>
        {% endfor %}
    </table>

    <hr>

    <div class="prompt">
        功能一：新增预订信息
    </div>
    <p>     </p>
    <p> 功能介绍：输入预订信息，包括预计入住时间、预计入住天数、房间类型。 </p>
    <p> 功能要求：房间类型必须存在，预计入住时间不得小于当前时间。 </p>

    <div class="form-container">
        <form id="dataForm">
            <input type="text" id="book_inTime" placeholder="预计入住时间">
            <input type="text" id="book_liveDays" placeholder="预计入住天数">
            <input type="text" id="roomType_id" placeholder="房间类型">
            <button type="button" onclick="addRow()">添加</button>
        </form>
    </div>

    <hr>

    <div class="prompt">
        功能二：办理入住

    <div class="form-container">
        <button type="button" onclick="">查询预订信息</button>
        <form id="dataForm">
            <input type="text" id="id" placeholder="编号">
            <input type="text" id="name" placeholder="名称">
            <input type="text" id="attribute1" placeholder="属性一">
            <input type="text" id="attribute2" placeholder="属性二">
            <input type="text" id="attribute3" placeholder="属性三">
            <input type="text" id="attribute4" placeholder="属性四">
            <button type="button" onclick="addRow()">添加</button>
        </form>
    </div>

    <script>
        function addRow() {
            var book_inTime = document.getElementById('book_inTime').value;
            var book_liveDays = document.getElementById('book_liveDays').value;
            var roomType_id = document.getElementById('roomType_id').value;


            fetch('/add_action', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({book_inTime: book_inTime,book_liveDays: book_liveDays, roomType_id: roomType_id})
            })
            .then(response => response.json())
            .then(data => {
            if (data.status == 'success') {
                alert('添加成功');
            }
            else {
                alert('添加失败');
            }
            })
            .catch(error => {
                alert('程序出错');
            });

        }

    </script>
{% endblock %}
